body {
  width: 900px;
  margin: auto;
}

/* header */
header {
  height: 100px;
  border-bottom: 15px solid grey;
}

header img {
  float: left;
  margin-top: 30px;
}

header div {
  float: left;
  margin-top: 28px;
  margin-left: 10px;
}

header div h2 {
  font-size: 200%;
}

nav {
  float: right;
  margin-top: 10px;
}

nav li {
  display: inline-block;
}

nav li:nth-child(6n) {
  margin-right: 10px;
}

main div {
  display: inline-block;
  margin-top: 50px;
}

/* main */
main div h1 {
  font-size: 300%;
}

aside {
  margin-top: 60px;
  float: right;
}

aside p {
  display: inline-block;
}

main article {
  margin: 20px 0;
}
main section {
  height: 300px;
  margin-bottom: 30px;
  border-bottom: 15px solid grey;
}

main section ul {
  float: left;
  font-size: 150%;
  width: 40%;
  margin: 40px 0 0 70px;
  list-style: square;
}

main section ul li {
  margin-top: 5px;
}

main section img {
  position: absolute;
  z-index: -1;
}

/* footer */
footer {
  width: 100%;
}
footer section {
  width: 70%;
  height: 100px;
  float: left;
  margin-left: 10px;
  border-bottom: 2px solid rgb(172, 170, 170);
}
#author {
  float: left;
}

footer h2 {
  font-size: 140%;
  margin-bottom: 5px;
}

footer button {
  float: right;
  background-color: chocolate;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 120%;
}

footer div {
  width: 100%;
  display: inline-block;
  margin: auto;
}

footer div img {
  display: inline-block;
  margin: auto;
}